
.kelvin-watson-logo {
  font-size: 2em;
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.22em;
  /*font-family: 'Comfortaa', cursive;*/
  /*font-family: 'Muli', sans-serif;*/
  /*font-weight: 300;*/
  padding: 0.4em;
}
