.toolbar-flex-parent {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 64px;
  position: relative;
  width: 100%;
}

.toolbar-flex-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: nowrap;
}

.info {
  display: inline-block;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-transform: lowercase;
  font-size: 1.5em;
  font-style: italic;
}

.left-icon {
  border: none;
  margin-right: 32px;
}

.right-icon {
  position: relative;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.right-icon:hover>.share-icons {
  display: block;
  position: absolute;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.share-icons {
  display: none;
  position: absolute;
  width: 150px;
  margin-left: -12px;
}

.share-icons:hover{
  display:block;
  width: 150px;
}

.share-icon {
  display: inline-block;
  font-size: 1em;
}

.facebook {
  margin-right: 32px;
}

.linkedin {
  margin-top: 8px;
}

.info-black {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border: 1px solid black;
  border-radius: 50%;
}

.info-black:active {
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.info-white {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid white;
  border-radius: 50%;
}

.info-white:active {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.share {
  border-radius: 50%;
  padding: 11px;
  height: 2em;
  width: 2em;
}

.share-black {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
}

.share-white {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
}

.title{
  font-weight:300;
}

@media(min-width: 768px) {
  /* tablets and desktop */
  .right-icon{
    vertical-align: bottom;
  }
}

@media(max-width: 767px) {
  /* phones */
  .left-icon {
    display:none;
  }
  .linkedin{
    margin-top:0;
  }
  .toolbar-flex-parent {
    justify-content: center;
  }
  .share-icon-container{
    display:inline;
  }
  .right-icon:hover>.share-icons{
    display:inline;
    margin-left: 8px;
  }
  .share-icons:hover{
    display:inline;
  }
  .facebook {
    margin-right: 16px;
  }
}

@media(max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  .left-icon {
    display:none;
  }
  .linkedin{
    margin-top:0;
  }
  .toolbar-flex-parent {
    justify-content: center;
  }
  .share-icon-container{
    display:inline;
  }
  .right-icon:hover>.share-icons{
    display:inline;
    margin-left: 8px;
  }
  .share-icons:hover{
    display:inline;
  }
  .facebook {
    margin-right: 16px;
  }
}
