@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300');
@import url('https://fonts.googleapis.com/css?family=Raleway');

@-webkit-keyframes animate {
    from { transform: translate(0, 0); }
    to { transform: translate(-250px, -250px); }
}

.background {
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);

  opacity: 1;

  transform: translate3D(0,0,0); /* default position, on screen */
  -moz-transform: translate3D(0,0,0);
  -webkit-transform: translate3D(0,0,0);

  transition: all 0.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../images/background-white-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  background-size: cover;
  /*background-color: rgba(0, 0, 0, 0.1);*/

  -webkit-animation-name: animate;
  -webkit-animation-duration: 70s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

.background:first-child {
  transform: translateY(-15vh);
}
.background-black{
  color: white;
}
.background-black:before {
  transition: all 0.1s ease;
  background-image: url(../../images/background-black-min.jpg);
}
.background-white{
  color: black;
}
.background-white:before {
  /*color: black;*/
  transition: all 0.1s ease;
  background-image: url(../../images/background-white.jpg);
}
.background:first-child .content-wrapper {
  transform: translateY(15vh);
}
.background:nth-child(2) {
  background-image: url(https://s8.postimg.org/ow4wgk4px/ugqti_Lg.jpg);
}
.background:nth-child(3) {
  background-image: url(https://s8.postimg.org/grwsbtiat/x_ZMOBTj.jpg);
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 3;
}

.background:nth-child(2) {
  z-index: 2;
}

.background:nth-child(3) {
  z-index: 1;
}

.content-wrapper {
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  transform: translateY(40vh);
  will-change: transform;
  backface-visibility: hidden;
  transition: all 0.1s linear;
}
.content-title {
  font-size: 12vh;
  line-height: 1.4;
}

.background.up-scroll {
  transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  transform: translateY(15vh);
}
.background.up-scroll + .background {
  transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  transform: translateY(30vh);
}

.background.down-scroll {
  transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
}
.designation{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.17em;
}

.parallax-flex-parent{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  opacity: 1;

  transform: translate3D(0,0,0); /* doesn't seem necessary but placing here to be explicit */
  -moz-transform: translate3D(0,0,0); /* doesn't seem necessary but placing here to be explicit */
  -webkit-transform: translate3D(0,0,0);/* doesn't seem necessary but placing here to be explicit */

  -moz-transition: transform 1s ease; /*transition back to opacity 1*/
  -webkit-transition: transform 1s ease;
}

.parallax-flex-parent-slide-off{

  opacity: 0;
  transform: translate3D(50%,0,0); /* X value must be same as Nav width */
  -moz-transform: translate3D(50%,0,0); /* X value must be same as Nav width */
  -webkit-transform: translate3D(50%,0,0); /* X value must be same as Nav width */

  -moz-transition: all .8s ease;
  -webkit-transition: all .8s ease;
}
