@-webkit-keyframes animate {
    from { transform: translate(0, 0); }
    to { transform: translate(-250px, -500px); }
}
/*
@-webkit-keyframes animate {
	from {background-position: 0 0;}
	to {background-position: -100px 0;}
}*/

.background {
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);


  opacity: 1;

  transform: translate3D(0,0,0); /* default position, on screen */
  -moz-transform: translate3D(0,0,0);
  -webkit-transform: translate3D(0,0,0);

  transition: all 0.8s cubic-bezier(0.22, 0.44, 0, 1);

  /*transition: -moz-transform .25s ease-in-out;
  -moz-transition: -moz-transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out;

  -moz-transition: all .8s ease;
  -webkit-transition: all .8s ease;*/
}
.background:before {
  content: "";
  position: absolute;
  width: 175%;
  height: 175%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../images/background-white.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);

  -webkit-animation-name: animate;
  -webkit-animation-duration: 70s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

.background:first-child {
  transform: translateY(-15vh);
}
.background-black{
  color: white;
}
.background-black:before {
  transition: all 0.8s cubic-bezier(0.22, 0.44, 0, 1);
  background-image: url(../../images/background-black.jpg);
}
.background-white{
  color: black;
}
.background-white:before {
  /*color: black;*/
  transition: all 0.8s cubic-bezier(0.22, 0.44, 0, 1);
  background-image: url(../../images/background-white.jpg);
}
.background:first-child .content-wrapper {
  transform: translateY(15vh);
}
.background:nth-child(2) {
  background-image: url(https://s8.postimg.org/ow4wgk4px/ugqti_Lg.jpg);
}
.background:nth-child(3) {
  background-image: url(https://s8.postimg.org/grwsbtiat/x_ZMOBTj.jpg);
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 3;
}

.background:nth-child(2) {
  z-index: 2;
}

.background:nth-child(3) {
  z-index: 1;
}

.content-wrapper {
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  font-family: Montserrat;
  text-transform: uppercase;
  transform: translateY(40vh);
  will-change: transform;
  backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.content-title {
  font-size: 12vh;
  line-height: 1.4;
}

.background.up-scroll {
  transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  transform: translateY(15vh);
}
.background.up-scroll + .background {
  transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  transform: translateY(30vh);
}

.background.down-scroll {
  transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
}
