/*Adapted from https://codepen.io/micjamking/pen/neldj?page=3*/

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  font-family: 'Roboto Condensed', sans-serif;
  width: 20em;
  height: 20em;
}

a {
  text-decoration: none;
  color: inherit;
}

.quadrant {
  color: white;
  height: 7em;
  width: 7em;
  display:table;
  cursor: pointer;
  box-sizing: border-box;
}

#quadrant1 {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 7em;

  border-bottom: 1px dotted white;
  border-left: 1px dotted white;
}
#quadrant2 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 7em;

  border-left: 1px dotted white;
}

#quadrant3 {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 7em;

  /*border-right: 1px dotted white;*/
}

#quadrant4 {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 7em;
  border-bottom: 1px dotted white;
}

.quadrant > .quadrant-text{
  display:table-cell;
  padding: 16px;
}

.quadrant-text-1{
  vertical-align:bottom;
  text-align:left;
;
}
.quadrant-text-2{
  vertical-align:top;
  text-align:left;
}
.quadrant-text-3{
  vertical-align:top;
  text-align:right;
}
.quadrant-text-4{
  vertical-align:bottom;
  text-align:right;
}

ul#navigationDial {
  z-index: -1;
  /*background: white;*/
  height: 14em;
  width: 14em;
  z-index: 0;
  border-radius: 7em;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-start: 0;
  margin-left: 0px;
  margin-top: 45px;
  padding-left: 0;
  position: relative;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #4169E1, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
  transition: box-shadow 0.5s ease-out;
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

ul#navigationDial:hover {
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #e6e600, inset -20px 0 80px #fff, inset 20px 0 300px #ffcc00, inset -20px 0 300px #fff, 0 0 40px 20px #fff, 0 0 100px 50px #99cc00;
  transition: box-shadow 0.5s ease-out;
}

#navigationDial li {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  background: transparent;
  border: 10px solid white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 500px;
  transition: all 0.5s ease;
}

#navigationDial li:first-child {
  margin-left: -120px;
  margin-top: -120px;
  width: 240px;
  height: 240px;
  border-width: 12px;
  -webkit-animation: navSpinBG 18s infinite linear;
  animation: navSpinBG 18s infinite linear;
  border-left-color: black;
  transform: rotate(0deg)
}

#rotator1 {
  margin-left: -126px;
  margin-top: -126px;
  width: 252px;
  height: 252px;
  /*border-width: 12px !important;*/
  /*border-left-color: black !important;*/
  transform: rotate(0deg)
}

.quadrant:hover > .quadrant-text {
  color: black;
  font-weight: bold;
}

#quadrant1:hover~#rotator1 {
  transform: rotate(135deg);
  border-left-color: #99ffff !important;
}

#quadrant2:hover~#rotator1 {
  transform: rotate(225deg);
  border-left-color: #6BB2B2 !important;
}

#quadrant3:hover~#rotator1 {
  transform: rotate(315deg);
  border-left-color: #0073e6 !important;
}

#quadrant4:hover~#rotator1 {
  transform: rotate(45deg);
  border-left-color: #6666ff !important;
}

.rotate-position--technologies {
  transform: rotate(135deg);
}

.rotate-position--projects {
  transform: rotate(270deg);
}

#rotator2 {
  margin-left: -134px;
  margin-top: -134px;
  width: 270px;
  height: 270px;
  border-width: 2px !important;
  border-style: dotted !important;
  /*box-shadow: 0px 0px 20px rgba(23, 246, 251, .5);*/
  animation: navSpinBG2 22s infinite linear;
}

#rotator3 {
  margin-left: -148px;
  margin-top: -148px;
  width: 296px;
  height: 296px;
  border-width: 2px !important;
  /*box-shadow: inset 0px 0px 25px rgba(23, 246, 251, .25);*/
  animation: navSpinBG 30s infinite linear;
}

#rotator4 {
  margin-left: -166px;
  margin-top: -166px;
  width: 330px;
  height: 330px;
  border-width: 5px !important;
  border-style: solid !important;
  /*box-shadow: inset 0px 0px 25px rgba(23, 246, 251, 1.0);*/
  animation: navSpinBG3 25s infinite linear;
}

@keyframes pulseGlow {
  0% {
    text-shadow: 0px 0px 20px rgba(23, 246, 251, 0.75);
  }
  50% {
    text-shadow: 0px 0px 40px rgba(23, 246, 251, 0.5);
  }
  100% {
    text-shadow: 0px 0px 20px rgba(23, 246, 251, 0.75);
  }
}

@keyframes pulseShadow {
  0% {
    box-shadow: 0px 0px 30px rgba(23, 246, 251, 0.25);
  }
  50% {
    box-shadow: 0px 0px 30px rgba(23, 246, 251, 0.75);
  }
  100% {
    box-shadow: 0px 0px 30px rgba(23, 246, 251, 0.25);
  }
}

@keyframes navSpinBG {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes navSpinBG2 {
  0% {
    transform: rotate(360deg);
    box-shadow: 0px 0px 1px rgba(23, 246, 251, 0.5);
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 0px 0px 20px rgba(23, 246, 251, 0.5);
  }
  100% {
    transform: rotate(0deg);
    box-shadow: 0px 0px 1px rgba(23, 246, 251, 0.5);
  }
}

@keyframes navSpinBG3 {
  0% {
    transform: rotate(180deg);
    box-shadow: 0px 0px 1px rgba(23, 246, 251, 0.1);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
