

<!-- <nav class="header">
  <ul>
    <li>
      <a href="#" target="_self"><img class="social-icon" src="assets/images/facebook.png"></a>
    </li>
    <li>
      <a href="#" target="_self"><img class="social-icon" src="assets/images/linkedin.png"></a>
    </li>
  </ul>
</nav> -->

<div class="m1 menu">
  <div id="menu-center">
    <ul>
      <li><a class="menu-anchor menu-anchor--{{homeActive}}" href="#topSection">Home</a>

      </li>
      <li><a class="menu-anchor menu-anchor--{{careerTimelineActive}}" href="#careerTimelineSection">Career</a>

      </li>
      <li><a class="menu-anchor menu-anchor--{{projectsActive}}" href="#projectsSection">Projects</a>

      </li>
      <li><a class="menu-anchor menu-anchor--{{hireActive}}" href="#hireSection">Hire</a>

      </li>
    </ul>
  </div>
</div>

<div class="parent">

  <!-- TOP SECTION -->
  <section id="topSection" class="full slanted">
    <div class="flex-container">
      <section class="flex-left">
        <nav class="large-nav">
          <ul class="square-grid">
            <li class="square-grid-item">
              <div class="border-animation-container">
                <!-- <span class="l1"></span>
                <span class="l2"></span>
                <span class="l3"></span> -->
                <!-- <span class="l4"></span> -->
                <a class="nav-link table" href="#careerTimelineSection" target="_self">
                  <div class="table-cell table-cell-career">
                    <div class="title">CAREER</div>
                  </div>
                </a>
              </div>
            </li>

            <li class="square-grid-item">
              <div class="border-animation-container">
                <!-- <span class="l1"></span>
                <span class="l2"></span>
                <span class="l3"></span>
                <span class="l4"></span> -->
                <a class="nav-link table" href="#technologiesSection" target="_self">
                  <div class="table-cell table-cell-tech-stack">
                    <div class="title">TECH STACK</div>
                  </div>
                </a>
              </div>
            </li>
            <li class="square-grid-item">
              <div class="border-animation-container">
                <!-- <span class="l1"></span>
                <span class="l2"></span>
                <span class="l3"></span>
                <span class="l4"></span> -->
                <a class="nav-link table" href="#projectsSection" target="_self">
                  <div class="table-cell table-cell-projects">
                    <div class="title">PROJECTS</div>
                  </div>
                </a>
              </div>
            </li>
            <li class="square-grid-item">
              <div class="border-animation-container">
                <!-- <span class="l1"></span>
                <span class="l2"></span>
                <span class="l3"></span> -->
                <!-- <span class="l4"></span> -->
                <a class="nav-link table" href="#hireSection" target="_self">

                  <div class="table-cell table-cell-hire">
                    <div class="title">HIRE</div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </nav>
      </section>
      <section class="flex-right">
        <img src="assets/images/avatar2.jpg" class="avatar">
        <h1>{{title}} &nbsp;<span class="cursor">&nbsp;</span></h1>
        <small>BCompSci, BSc(Pharm)</small>
        <p>Android Developer, Web Developer</p>
      </section>
    </div>

    <!-- <div class="square">
      <span class="l1"></span>
       <span class="l2"></span>
       <span class="l3"></span>
       <span class="l4"></span>
     </div> -->

  </section>

  <section id="careerTimelineSection" class="full orange">
    <h2>Career Timeline</h2>
    <ul>
      <li *ngFor="let career of careerTimeline | async">
        {{career.label}}
        {{career.start}} - {{career.end}}:
        {{career.milestone}}
      </li>
    </ul>
  </section>

  <section id="technologiesSection" class="full pink">
    <h2>Technologies</h2>
    <ul>
      <li *ngFor="let technology of technologies | async">
        {{technology.name}}: {{technology.proficiency}}
      </li>
    </ul>
  </section>

  <section id="projectsSection" class="full green">
    <h2>Projects</h2>
    <ul>
      <li *ngFor="let project of projects | async">
        <a href="{{project.url}}">{{project.name}}</a>
        <div>{{project.details}}</div>
        <div *ngIf="project.github">
          {{project.github}}
        </div>
        <ul *ngIf="project.technologies">
          <h3>Technologies</h3>
          <li *ngFor="let technology of project.technologies">
            {{technology}}
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section id="hireSection" class="full green">
    <h2>Hire</h2>

  </section>
</div>
