
<nav>
  <ul>
    <li>
      <!-- <span class="button"></span> -->
      <a href="#topSection" target="_self">HOME</a>
    </li>
    <li><a href="#careerTimelineSection" target="_self">CAREER</a></li>
    <li><a href="#technologiesSection" target="_self">TECH STACK</a></li>
    <li><a href="#projectsSection" target="_self">PROJECTS</a></li>
  </ul>
</nav>

<div class="parent">

  <a id="topSection"></a>
  <a id="careerTimelineSection"></a>
  <a id="technologiesSection"></a>
  <a id="projectsSection"></a>

  <section id="topSection" class="full">


    <div class="square">
      <span class="l1"></span>
       <span class="l2"></span>
       <span class="l3"></span>
       <span class="l4"></span>
      <h1>{{title}} &nbsp;<span class="cursor">&nbsp;</span></h1>
      <small>BCompSci, BSc(Pharm)</small>
      <p>Android Developer, Web Developer</p>
      <img src="assets/images/avatar2.jpg" class="avatar">
    </div>
  </section>

  <section id="careerTimelineSection" class="full orange">
    <h2>Career Timeline</h2>
    <ul>
      <li *ngFor="let career of careerTimeline | async">
        {{career.label}}
        {{career.start}} - {{career.end}}:
        {{career.milestone}}
      </li>
    </ul>
  </section>

  <section id="technologiesSection" class="full pink">
    <h2>Technologies</h2>
    <ul>
      <li *ngFor="let technology of technologies | async">
        {{technology.name}}: {{technology.proficiency}}
      </li>
    </ul>
  </section>

  <section id="projectsSection" class="full green">
    <h2>Projects</h2>
    <ul>
      <li *ngFor="let project of projects | async">
        <a href="{{project.url}}">{{project.name}}</a>
        <div>{{project.details}}</div>
        <div *ngIf="project.github">
          {{project.github}}
        </div>
        <ul *ngIf="project.technologies">
          <h3>Technologies</h3>
          <li *ngFor="let technology of project.technologies">
            {{technology}}
          </li>
        </ul>
      </li>
    </ul>
  </section>
</div>
