<div id="scrollspy-menu">
  <ul>
    <li>
      <div class="scrollspy-menu__anchor scrollspy-menu__anchor--{{homeActive}}" href="#topSection">
        <a href="#topSection"></a>
      </div>
    </li>
    <li>
      <div class="scrollspy-menu__anchor scrollspy-menu__anchor--{{careerTimelineActive}}" href="#careerTimelineSection">
        <a href="#careerTimelineSection"></a>
      </div>
    </li>
    <li>
      <div class="scrollspy-menu__anchor scrollspy-menu__anchor--{{projectsActive}}">
        <a href="#projectsSection"></a>
      </div>
    </li>
    <li>
      <div class="scrollspy-menu__anchor scrollspy-menu__anchor--{{hireActive}}">
        <a href="#hireSection"></a>
      </div>
    </li>
  </ul>
</div>


<div class="parent">

  <!-- TOP SECTION -->
  <section id="topSection" class="full slanted">
    <div class="flex-container">
      <section class="flex-left">
        <nav class="large-nav">
          <div class="ring">

            <object class="nav-icon" data="/assets/images/ic_navigation_white_24px.svg" type="image/svg+xml">
              <img src="yourfallback.jpg" />
            </object>

            <div class="led-container-career">
              <div class="led-career"></div>
              <a id="led-overlay-career" href="#careerTimelineSection">
                <div id="nav-hover-title-career">CAREER</div>
              </a>
            </div>

            <div class="led-container-tech">
              <div class="led-tech"></div>
              <a id="led-overlay-tech" href="#technologiesSection">
                <div id="nav-hover-title-tech">TECH STACK</div>
              </a>
            </div>

            <div class="led-container-hire">
              <div class="led-hire"></div>
              <a id="led-overlay-hire" href="#hireSection">
                <div id="nav-hover-title-hire">HIRE ME</div>
              </a>
            </div>

            <div class="led-container-projects">
              <div class="led-projects"></div>
              <a id="led-overlay-projects" href="#projectsSection">
                <div id="nav-hover-title-projects">PROJECTS</div>
              </a>
            </div>

            <div class="inner-glow-career"></div>
            <!-- <div class="inner-glow-hire"></div> -->

            <div class="face"></div>
          </div>

        </nav>
      </section>
      <section class="flex-right">
        <img src="assets/images/avatar2.jpg" class="avatar">
        <h1>{{title}} &nbsp;<span class="cursor">&nbsp;</span></h1>
        <div>
          <small>BCompSci, BSc(Pharm)</small>
          <p>Android Developer, Web Developer</p>
        </div>
      </section>
    </div>

    <!-- <div class="square">
      <span class="l1"></span>
       <span class="l2"></span>
       <span class="l3"></span>
       <span class="l4"></span>
     </div> -->

  </section>

  <section id="careerTimelineSection" class="full orange">
    <h2>Career Timeline</h2>
    <ul>
      <li *ngFor="let career of careerTimeline | async">
        {{career.label}}
        {{career.start}} - {{career.end}}:
        {{career.milestone}}
      </li>
    </ul>
  </section>

  <section id="technologiesSection" class="full pink">
    <h2>Technologies</h2>
    <ul>
      <li *ngFor="let technology of technologies | async">
        {{technology.name}}: {{technology.proficiency}}
      </li>
    </ul>


  </section>

  <section id="projectsSection" class="full green">
    <h2>Projects</h2>
    <ul>
      <li *ngFor="let project of projects | async">
        <a href="{{project.url}}">{{project.name}}</a>
        <div>{{project.details}}</div>
        <div *ngIf="project.github">
          {{project.github}}
        </div>
        <ul *ngIf="project.technologies">
          <h3>Technologies</h3>
          <li *ngFor="let technology of project.technologies">
            {{technology}}
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section id="hireSection" class="full green">
    <h2>Hire</h2>

  </section>
</div>
