@keyframes bright {
  0%, 100% {
    filter: brightness(0.1);
    -webkit-filter: brightness(0.1);
  }
  50% {
    filter: brightness(2);
    -webkit-filter: brightness(2);
  }
}

.full {
  background-color: transparent;
  color: black;
  font-size: 16px;
  height: 125vh;
  overflow-y: scroll;
  vertical-align: top;
  width: 100%;
}

#topSection {
  height: 100vh;
  font-family: 'Abel', sans-serif;
  color: black;
  background: white;
  /*background: url(https://static.pexels.com/photos/355770/pexels-photo-355770.jpeg);*/
  background: url(https://static.pexels.com/photos/316902/pexels-photo-316902.jpeg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.slanted {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-left {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
}

.flex-right {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 50%;
  text-align: center;
}

ul.square-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-left: 16px;
  padding: 0;
}

li.square-grid-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  height: 200px;
  box-sizing: border-box;
  text-align: left;
}

li.square-grid-item a {
  text-decoration: none;
  color: black;
}

.nav-link .title {
  font-size: 2.1em;
  font-family: 'Roboto Condensed', sans-serif;
  height: 50px;
  text-align: center;
  padding: 0;
  margin: 0;
  /*transform: scale(2,3);
  -webkit-transform: scale(1,1.5);
  -moz-transform: scale(2,3);
  -ms-transform: scale(2,3);
  -o-transform: scale(2,3);*/
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.table-cell {
  height: 200px;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}

.table-cell-career {
  color: grey;
  background-color: rgba(255, 255, 255, 0.5);
}

.table-cell-projects {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.table-cell-hire {
  color: grey;
  background-color: rgba(255, 255, 255, 0.5);
}

.table-cell-tech-stack {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}


/*.table-cell-white-top{
  background-color: rgba(255,255,255,0.5);
  height:75px;
  margin-bottom: -3px;
  width: 100%;
}
.table-cell-white-bottom{
  background-color: rgba(255,255,255,0.5);
  height:78px;
  width: 100%;
}*/

#topSection {
  position: relative;
}

#topSection h1 {
  font-size: 2.2em;
  font-family: 'Euphoria Script', cursive;
  margin: 0;
  overflow: hidden;
  position: relative;
}

#topSection p {
  font-size: 1.5em;
  margin: 0;
}


/*#topSection div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*border: 1px solid white;
}*/

@keyframes slide-in {
  100% {
    transform: translateX(0vw);
  }
}

.avatar {
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, .8);
  margin-top: 36px;
  object-fit: cover;
  height: 100px;
  text-align: center;
  width: 100px;
  /*z-index: 2;*/
  transform: translateX(200vw);
  -webkit-transform: translateX(200vw);
  -webkit-animation: slide-in 1.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide-in 1.5s forwards;
  animation-delay: 2s;
}

.border-animation-container {
  position: relative;
  height: 200px;
}

.l1, .l2, .l3, .l4 {
  position: absolute;
  background: transparent;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
}

.l1 {
  left: 0;
  bottom: 0;
  height: 200px;
  width: 1px;
  -webkit-animation-name: l1;
  -webkit-animation-delay: 0s;
}

.l2 {
  top: 0;
  left: 0;
  width: 200px;
  height: 1px;
  -webkit-animation-name: l2;
  -webkit-animation-delay: .4s;
}

.l3 {
  right: 0;
  top: 0;
  height: 200px;
  width: 1px;
  -webkit-animation-name: l3;
  -webkit-animation-delay: 0s;
}

.l4 {
  bottom: 0;
  right: 0;
  width: 200px;
  height: 1px;
  -webkit-animation-name: l4;
  -webkit-animation-delay: .4s;
}

@-webkit-keyframes l1 {
  0% {
    height: 0;
    background: #909090;
  }
  100% {
    height: 200px;
    background: #909090;
  }
}

@-webkit-keyframes l2 {
  0% {
    width: 0;
    background: #909090;
  }
  100% {
    width: 200px;
    background: #909090;
  }
}

@-webkit-keyframes l3 {
  0% {
    height: 0;
    background: #909090;
  }
  100% {
    height: 200px;
    background: #909090;
  }
}

@-webkit-keyframes l4 {
  0% {
    width: 0;
    background: #909090;
  }
  100% {
    width: 200px;
    background: #909090;
  }
}

.social-icon {
  height: 30px;
  width: 30px;
}


/* For scrollspy */

#scrollspy-menu {
  position: fixed;
  right: 16px;
  top: 50%;
  z-index: 2;
}

#scrollspy-menu ul {
  list-style: none;
}

#scrollspy-menu ul li {
  width: 12px;
  height: 12px;
}

.scrollspy-menu__anchor {
  margin: 8px;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  transition: all .8s ease;
  width: 12px;
  height: 12px;
  z-index: 30;
}

.scrollspy-menu__anchor--true {
  background: #ABFF00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #89FF00 0 -1px 9px, #89FF00 0 2px 12px;
}

.scrollspy-menu__anchor--false {
  width: 12px;
  height: 12px;
  background: #646464;
  box-shadow: 0 0 4px #1C1C17;
  transition: all .3s ease;
}


/*Ring*/

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.all, .ring::before, .ring::after, .led::before, .led::after, .face::before, .face::after {
  content: "";
  display: block;
  position: absolute;
}

html, body {
  font-size: 100%;
  min-height: 100%;
}

body {
  background: #151917;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyMTIxMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFjMjExZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #121212), color-stop(100%, #1c211f));
  background: -moz-linear-gradient(top left, #121212, #1c211f);
  background: -webkit-linear-gradient(top left, #121212, #1c211f);
  background: linear-gradient(to bottom right, #121212, #1c211f);
}

.ring {
  height: 14em;
  width: 14em;
  margin: 4em auto;
  position: relative;
  z-index: 0;
  -moz-border-radius: 7em;
  -webkit-border-radius: 7em;
  border-radius: 7em;
  background: #050505;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1MDUwNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA2MDYwOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #050505), color-stop(100%, #060609));
  background: -moz-linear-gradient(top, #050505, #060609);
  background: -webkit-linear-gradient(top, #050505, #060609);
  background: linear-gradient(to bottom, #050505, #060609);
}

.led-container-career {
  height: 7em;
  width: 7em;
  position: absolute;
  top: 50%;
}

.led-career {
  display:none;
  height: 7em;
  width: 7em;
  z-index: -4;
  -moz-border-radius-bottomleft: 7em;
  -webkit-border-bottom-left-radius: 7em;
  border-bottom-left-radius: 7em;
  -moz-box-shadow: 0 0 2em #d7c6d4;
  -webkit-box-shadow: 0 0 2em #d7c6d4;
  box-shadow: 0 0 2em #d7c6d4;
  background-color: #d7c6d4;
}

#nav-hover-title-career {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: none;
}

.inner-glow-career {
  height: 6.72em;
  width: 6.72em;
  position: absolute;
  top: 50%;
  left: 0.3em;
  -moz-border-radius-bottomleft: 7em;
  -webkit-border-bottom-left-radius: 7em;
  border-bottom-left-radius: 7em;
  -moz-box-shadow: inset 0 0 2em rgba(215, 198, 212, 0.5), 0 0 2em rgba(215, 198, 212, 0.75);
  -webkit-box-shadow: inset 0 0 2em rgba(215, 198, 212, 0.5), 0 0 2em rgba(215, 198, 212, 0.75);
  box-shadow: inset 0 0 2em rgba(215, 198, 212, 0.5), 0 0 2em rgba(215, 198, 212, 0.75);
  background-color: transparent;
}

.face {
  height: 12.5em;
  width: 12.5em;
  position: absolute;
  top: 0.75em;
  left: 0.75em;
  -moz-border-radius: 6.5em;
  -webkit-border-radius: 6.5em;
  border-radius: 6.5em;
  background: #534b4d;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzNGI0ZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBiMDgwYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #534b4d), color-stop(100%, #0b080c));
  background: -moz-linear-gradient(top, #534b4d, #0b080c);
  background: -webkit-linear-gradient(top, #534b4d, #0b080c);
  background: linear-gradient(to bottom, #534b4d, #0b080c);
  -moz-box-shadow: inset 1px -1px 10px rgba(215, 198, 212, 0.2);
  -webkit-box-shadow: inset 1px -1px 10px rgba(215, 198, 212, 0.2);
  box-shadow: inset 1px -1px 10px rgba(215, 198, 212, 0.2);
}

.face::before {
  height: 11.875em;
  width: 11.875em;
  top: 0.3125em;
  left: 0.3125em;
  -moz-border-radius: 6em;
  -webkit-border-radius: 6em;
  border-radius: 6em;
  background: #101312;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuMCIgeDI9IjAuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEwMTMxMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE4MTExNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #101312), color-stop(100%, #181114));
  background: -moz-linear-gradient(top right, #101312, #181114);
  background: -webkit-linear-gradient(top right, #101312, #181114);
  background: linear-gradient(to bottom left, #101312, #181114);
}

.face::after {
  height: 13.4375em;
  width: 13.4375em;
  top: -0.46875em;
  left: -0.46875em;
  z-index: -3;
  -moz-border-radius: 7em;
  -webkit-border-radius: 7em;
  border-radius: 7em;
  background: #171c1a;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0MWYxYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEzMTAxNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #141f1b), color-stop(100%, #131014));
  background: -moz-linear-gradient(top, #141f1b, #131014);
  background: -webkit-linear-gradient(top, #141f1b, #131014);
  background: linear-gradient(to bottom, #141f1b, #131014);
}

#led-overlay-career {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*background: pink;*/
  z-index: 10;
}

#led-overlay-career:hover>#nav-hover-title-career {
  color: white;
  z-index: 1000;
  text-shadow: 0 0 10px rgba(215, 198, 212, 1), 0 0 20px rgba(215, 198, 212, 1), 0 0 30px rgba(215, 198, 212, 1), 0 0 40px rgba(215, 198, 212, 1), 0 0 70px rgba(215, 198, 212, 1), 0 0 80px rgba(215, 198, 212, 1), 0 0 100px rgba(215, 198, 212, 1);
  /*display:none;*/
  display: block;
  -moz-animation: ontheblink 5s 1;
  -ms-animation: ontheblink 5s 1;
  -webkit-animation: ontheblink 5s 1;
  -moz-animation: ontheblink 5s 1;
  -ms-animation: ontheblink 5s 1;
  -webkit-animation: ontheblink 5s 1;
}

@-webkit-keyframes ontheblink {
  21%, 39%, 45%, 47%, 53% {
    color: #fff;
    text-shadow: none;
  }
  26%, 38%, 40%, 44%, 46%, 48% {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #ff0, 0 0 30px #ff0;
  }
}

.led-container-tech {
  height: 7em;
  width: 7em;
  position: absolute;
  top: 0;
}

.led-tech {
  display:none;
  height: 7em;
  width: 7em;
  z-index: -4;
  -moz-border-radius-topleft: 7em;
  -webkit-border-top-left-radius: 7em;
  border-top-left-radius: 7em;
  -moz-box-shadow: 0 0 2em #d7c6d4;
  -webkit-box-shadow: 0 0 2em #d7c6d4;
  box-shadow: 0 0 2em #d7c6d4;
  background-color: #d7c6d4;

  -webkit-animation-name: drawtechborder;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
}

#nav-hover-title-tech {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
}

#led-overlay-tech {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*background: pink;*/
  z-index: 10;
}

/*.inner-glow-tech {
  height: 6.72em;
  width: 6.72em;
  position: absolute;
  top: 0;
  left: 0.3em;
  -moz-border-radius-topleft: 7em;
  -webkit-border-top-left-radius: 7em;
  border-top-left-radius: 7em;
  -moz-box-shadow: inset 0 0 2em rgba(215, 198, 212, 0.5), 0 0 2em rgba(215, 198, 212, 0.75);
  -webkit-box-shadow: inset 0 0 2em rgba(215, 198, 212, 0.5), 0 0 2em rgba(215, 198, 212, 0.75);
  box-shadow: inset 0 0 2em rgba(215, 198, 212, 0.5), 0 0 2em rgba(215, 198, 212, 0.75);
  background-color: transparent;
}*/

#led-overlay-tech:hover>#nav-hover-title-tech {
  color: white;
  z-index: 1000;
  text-shadow: 0 0 10px rgba(215, 198, 212, 1), 0 0 20px rgba(215, 198, 212, 1), 0 0 30px rgba(215, 198, 212, 1), 0 0 40px rgba(215, 198, 212, 1), 0 0 70px rgba(215, 198, 212, 1), 0 0 80px rgba(215, 198, 212, 1), 0 0 100px rgba(215, 198, 212, 1);
  /*display:none;*/
  display: block;
  -moz-animation: ontheblink 5s 1;
  -ms-animation: ontheblink 5s 1;
  -webkit-animation: ontheblink 5s 1;
  -moz-animation: ontheblink 5s 1;
  -ms-animation: ontheblink 5s 1;
  -webkit-animation: ontheblink 5s 1;
}

.led-container-career:hover > .led-career {
  display:block;
}

.led-container-tech:hover > .led-tech{
  display:block;
}


#led-overlay-hire {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*background: pink;*/
  z-index: 10;
}

#led-overlay-hire:hover>#nav-hover-title-hire {
  color: white;
  z-index: 1000;
  text-shadow: 0 0 10px rgba(215, 198, 212, 1), 0 0 20px rgba(215, 198, 212, 1), 0 0 30px rgba(215, 198, 212, 1), 0 0 40px rgba(215, 198, 212, 1), 0 0 70px rgba(215, 198, 212, 1), 0 0 80px rgba(215, 198, 212, 1), 0 0 100px rgba(215, 198, 212, 1);
  /*display:none;*/
  display: block;
  -moz-animation: ontheblink 5s 1;
  -ms-animation: ontheblink 5s 1;
  -webkit-animation: ontheblink 5s 1;
  -moz-animation: ontheblink 5s 1;
  -ms-animation: ontheblink 5s 1;
  -webkit-animation: ontheblink 5s 1;
}

#led-overlay-tech {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*background: pink;*/
  z-index: 10;
}

.led-container-hire:hover > .led-hire{
  display:block;
}
