/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300');

/*@import url('https://fonts.googleapis.com/css?family=Muli:300');*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

.detail-title {
  color: white;
}

.static-parallax-container{
  -webkit-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    transform: translateY(0vh)
}
